section.certification

    .cmn__wrapper.certification__wrapper
        .certification__parallax(aria-hidden="true")
            #certification-scene
                span.certification__parallax-text(data-depth-x="1") Certificate

                img(src="./assets/img/ellipse.png" alt="эллипс" width="712" height="712" data-depth="1").certification__parallax-item
                img(src="./assets/img/ellipse.png" alt="эллипс" width="712" height="712" data-depth="3").certification__parallax-item
                img(src="./assets/img/ellipse.png" alt="эллипс" width="712" height="712" data-depth="6").certification__parallax-item

        .certification__container
            .certification__content
                h2.cmn__title.cmn__title--white Сертификаты

                span Гарантия высокого качества работ

                p.cmn__text.cmn__text--white В компании «Стс-Уборка» ежегодно выполняет  сертификацию клининговых услуг с&nbsp;правом аккредитации других организаций в качестве Органов по сертификации в Системе СДС «СККР».
            .certification__slider
                include ./components/certification-slider 