section.certification
    .cmn__wrapper.certification__wrapper
        .certification__container
            .certification__content
                h2.cmn__title.cmn__title--white Сертификаты

                span Гарантия высокого качества работ

                p.cmn__text.cmn__text--white В компании «Стс-Уборка» ежегодно выполняет  сертификацию клининговых услуг с&nbsp;правом аккредитации других организаций в качестве Органов по сертификации в Системе СДС «СККР».
            .certification__slider
                include ./components/certification-slider 