//prims

$prim_reg: 'Raleway-Regular';
$prim_med: 'Raleway-Medium';
$prim_semi: 'Raleway-SemiBold';
$prim_bold: 'Raleway-Bold';
$prim_extra: 'Raleway-ExtraBold';

$sec_med: 'MuseoSansCyrlMed';
$sec_bold: 'MuseoSansCyrlBold';

// animation

$tr_rules: 0.3s 0.1s ease;

// widths

$max-width: 1440px;

$min_width: 320px;

// colors

$col_white: #ffffff;
$col_black: #000000;

// links

//btns

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
