//prims

$prim_reg: 'Raleway-Regular';
$prim_med: 'Raleway-Medium';
$prim_semi: 'Raleway-SemiBold';
$prim_bold: 'Raleway-Bold';
$prim_extra: 'Raleway-ExtraBold';

$sec_thin: 'MuseoSansCyrlThin';
$sec_med: 'MuseoSansCyrlMed';
$sec_bold: 'MuseoSansCyrlBold';

// animation

$tr_rules: 0.3s .2s ease;

// widths

$max-width: 1440px;

$min_width: 320px;

// colors

$col_body: #ffffff;
$col_white: #ffffff;
$col_black: #000000;
$col_black-sec: #333333;
$col_lightblack: #202124;
$col_gray: #646279;
$col_blue: #5c6bc0;
$col_orange: #Ea673d;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


