footer.footer
  .cmn__wrapper.footer__wrapper
    a(href="#").footer__logo Phoenix Promkomplekt

    .footer__nav
      include ./nav

    .footer__bottom
      span.cmn__text.cmn__text--small.footer__info Все права защищены.©

      include ./social