header.header.cmn
  .cmn__wrapper.header__wrapper
    a(href="index.html").header__logo
      img(src="./assets/img/logo.png" alt="логотип" width="218" height="86")
        
    .header__info
      a(href="mailto:Sale@fpk-ltd.ru").cmn__link.cmn__link--thin
        svg(width="32" height="25")
          use(xlink:href="#icon-mail")
        span Sale@fpk-ltd.ru
      a(href="tel:8(800)500-58-62").cmn__link.cmn__link--thin
        svg(width="25" height="25")
          use(xlink:href="#icon-phone")
        span 8(800)500-58-62

    .header__nav
      include ./nav
    
    .header__burger
      include ../../components/burger

  .header__bottom
    .cmn__wrapper.header__bottom-wrapper
      button.cmn__btn Оставить заявку
      .header__bottom-search
        input(type="text" placeholder="Поиск")
        button(aria-label="Поиск")
          svg(width="24" height="24")
            use(xlink:href="#icon-search")
        