.certification {  
    position: relative;
    padding-top: 9rem;
    padding-bottom: 7rem;
    overflow: hidden;

    background: radial-gradient(104.53% 196.44% at -6.22% 31.28%, #919BD7 0%, rgba(92, 107, 192, 0) 67.12%), #5C6BC0;

    &__wrapper {
        padding-right: 0;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        width: 40%;
        max-width: 38.4rem;
        margin-right: auto;
        padding-right: 2rem;
        padding-top: 4rem;

        h2 {
            margin-bottom: 2rem;
        }

        span {
            display: block;
            font-family: $prim_semi;
            font-size: 1.6rem;
            line-height: 1.9rem;
            margin-bottom: 4rem;

            color: $col_white;
        }

        p {
            line-height: 2.6rem
        }
    }

    &__slider {
        position: relative;
        width: 60%;
        max-width: 83rem;
        min-height: 55rem;
        z-index: 100;
    }

    #certification-scene {
        width: inherit;
        height: inherit
    }

    &__parallax {
        position: absolute;
        width: inherit;
        height: 100%;
        top: 0;
        left: 0;

        &-item {
            width: 712px;
            height: 712px;
            opacity: 0.1;

            &:nth-of-type(1) {
                left: initial !important;
                top: -128px!important;
                right: -225px!important;
            }

            &:nth-of-type(2) {
                left: initial !important;
                top: 416px!important;
                right: -424px!important;
            }

            &:nth-of-type(3) {
                left: initial !important;
                top: 13px!important;
                right: -75px!important;
            }
        }

        &-text {
            font-family: $prim_extra;
            font-size: 19rem;
            line-height: 34rem;
            letter-spacing: 0.02em;
            
            display: table;
            position: absolute;
            top: 50% !important;
            left: -3rem !important;
            background: linear-gradient(91.74deg, rgba(110, 124, 200, 0.64) 19.36%, #5C6BC0 96.29%), linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));            color: #f9f9fe;
            opacity: 0.6;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}